.after-animation {
  transform: translate(0, 0) !important;
  transition: all 0.3 ease-in-out;
  -webkit-transition: all 0.3 ease-in-out;
  -moz-transition: all 0.3 ease-in-out;
  -ms-transition: all 0.3 ease-in-out;
  -o-transition: all 0.3 ease-in-out;
}